.pokemons {
    background-color: #eceff1;
    color: #4d4d4d;
    font-family: 'Architects Daughter', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'Concert One', cursive;
    font-weight: 700;
}