.pokedex {
    text-align: center;
}

.pokedex-cards {
    display:flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
}

.pokedex h1 {
    text-align: center;
}

.pokedex-winner {
    color: #4caf50;
}

.pokedex-loser {
    color: #e91e63;
}

